<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/index.css">
	<title><%=title%></title>
</head>
<body>
	<%-include('partials/navbar'); %>

	<h1>index page</h1>

	<button id="myBtn">click me</button>
	
	<p>num: <%=number%></p>
	
	<p>is active: <%=isActive%></p>
	
	<p>length <%=myArr.length%></p>
	
	<p>arr <%=myArr%></p>
	
	<p>obj <%=myObj%></p>

	<ul>
		<% for(let i = 0; i < myArr.length; i++){ %>
			<li><%=myArr[i]%></li>
		<% } %>
	</ul>

	<ul>
		<% myObj.forEach((item, index) => { %>
			<% console.log(index, item); %>
			<li><%=index %> - <%=item.id %></li>
		<% }) %>
	</ul>

	<script src="/assets/client.js"></script>
</body>
</html>